<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.tobyziegler.announcetime.plist</string>

        <key>Program</key>
        <string>~/Applications/HomeBuilt/AnnounceTime/AnnounceTime</string>

        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin</string>
        </dict>

        <key>StandardInPath</key>
        <string>/tmp/announcetime.stdin</string>

        <key>StandardOutPath</key>
        <string>/tmp/announcetime.stdout</string>

        <key>StandardErrorPath</key>
        <string>/tmp/announcetime.stderr</string>

        <key>WorkingDirectory</key>
        <string>~/Applications/HomeBuilt/AnnounceTime</string>

        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Weekday<key>
                <integer>1<integer>
                <key>Hour</key>
                <integer>7</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>1<integer>
                <key>Hour</key>
                <integer>5</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>2<integer>
                <key>Hour</key>
                <integer>7</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>2<integer>
                <key>Hour</key>
                <integer>5</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>3<integer>
                <key>Hour</key>
                <integer>7</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>3<integer>
                <key>Hour</key>
                <integer>5</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>4<integer>
                <key>Hour</key>
                <integer>7</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>4<integer>
                <key>Hour</key>
                <integer>5</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>5<integer>
                <key>Hour</key>
                <integer>7</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>Weekday<key>
                <integer>5<integer>
                <key>Hour</key>
                <integer>5</integer>
                <key>Minute</key>
                <integer>30</integer>
            </dict>
        </array>

    </dict>
</plist>